.container {
  margin-bottom: 14px;
  min-height: 110px;
}

.container_ordered {
  cursor: pointer;
}

.approach_container {
  display: flex;
  align-items: flex-start;
}

.approach_date {
  padding-bottom: 10px;
  font-size: 24px;
  cursor: pointer;
}

.approach {
  position: relative;
  border-bottom: 2px solid var(--approach_arrey_color);
  padding-bottom: 0.6em;
}

.approach::before,
.approach::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -6px;
  border: var(--approach_arrey_width) solid transparent;
}

.approach::before {
  border-left: 0;
  border-right-color: var(--approach_arrey_color);
  left: -1px;
}

.approach::after {
  border-right: 0;
  border-left-color: var(--approach_arrey_color);
  right: -1px;
}

.asteroid_icon {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.diametr {
  font-size: 12px;
}

.button {
  width: 90px;
  height: 24px;
  border: none;
  border-radius: 16px;
  background: rgba(248, 102, 0, 0.15);
  color: #f86600;
  cursor: pointer;
  transition: all 0.4s;
}

.button.active {
  color: #f5ded9;
  transition: all 0.4s;
}

.button:hover,
.button.active :hover {
  background: #f86600;
  color: white;
}
