.imageContainer {
  position: fixed;
  right: calc((100vw + var(--content_width) + 100px) / 2);
  height: calc(100vh - 140px);
  padding-bottom: 20px;
}

.imagePlanet {
  width: auto;
  height: 100%;
}

@media (max-width: 750px) {
  .imageContainer {
    right: calc(var(--content_width) + 10px);
    height: calc(100vh - 200px);
  }
}
