.asteroids {
  width: var(--content_width);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  padding-left: 100px;
}

.title {
  font-size: 28px;
  margin-bottom: 4px;
}

.dimension {
  font-size: 15px;
  margin-bottom: 18px;
}

.measure {
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  font-weight: 900;
  text-decoration: underline;
  transition: all 0.3s;
}
